<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true" scan="true" scanPeriod="1 minutes">

  <property name="CONSOLE_LOG_PATTERN" value="%boldWhite(%d{HH:mm:ss.SSS}) %X{mdcData} [%magenta(%thread)] %highlight(%-5level) %cyan(%logger{15}): %msg%n" />

  <!-- Appender to log to console in plain text format -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${CONSOLE_LOG_PATTERN}</pattern>
      <charset>utf8</charset>
    </encoder>
  </appender>

  <root level="TRACE">
    <appender-ref ref="CONSOLE" />
  </root>

</configuration>
